<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on WanderLust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="listing[username]" type="text" class="form-control" required id="username">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter a valid Username</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="listing[email]" type="text" class="form-control" required id="email">
                <div class="invalid-feedback">Enter a valid Email id</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="listing[password]" type="password" class="form-control" required id="password">
                <div class="invalid-feedback">Enter your password</div>
            </div>
            <button class="btn btn-success">Sign up</button>
        </form>
    </div>
</div>
